{% macro meta(page) %}

    <svg style="margin-bottom:-3px" class="i-clock" viewBox="0 0 32 32"
         width="16" height="16" fill="none" stroke="currentcolor"
         stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
        <circle cx="16" cy="16" r="14"/>
        <path d="M16 8 L16 16 20 20"/>
    </svg>
    <span>{{ page.reading_time }} minute read</span>

{% endmacro meta %}

{% macro page_in_list(page) %}
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <header>
            <h2 itemprop="name" class="post-link">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
				<span class="muted">{{ self::meta(page=page) }}</span>
            </h2>
        </header>

        {% if page.summary %}
            <div itemprop="summary">
                {{ page.summary | safe }}
                <nav class="readmore"><a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a></nav>
            </div>
        {% endif %}
    </article>
{% endmacro page_in_list %}
