.list{
  display:inline-block;
  margin-right: 1%;

  padding-left: 10px;
  padding-right: 125px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

#cr{
		display: inline-block;
		padding-top: 0px;
		color: white;
		text-align: left;
		padding-left: 10px;
		font-weight: bold;
		margin-right: 1%;
}
