/**
    index
**/

.element-class {
    width: 100vw; /* Set the width to the viewport width */
    height: 100vh; /* Set the height to the viewport height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: changeImage 60s infinite; 
}

@keyframes changeImage {
    0%, 100% {
        background-image: url('../images/star-lord-marvels-3840x2160-11779.jpeg');
    }
    25% {
        background-image: url('../images/purple-planet-dark-background-saturn-astronomy-4042x2274-6425.jpg'); 
    }
}


