/**
    index
**/

.element-class {
    width: 100vw; /* Set the width to the viewport width */
    height: 100vh; /* Set the height to the viewport height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: changeImage 30s infinite; 
}

@keyframes changeImage {
    0%, 100% {
        background-image: url('../images/star-lord-marvels.jpeg');
    }
    25% {
        background-image: url('../images/purple-planet-dark-background-saturn-astronomy.jpg'); 
    }
}

/* Media Query for Smaller Phones */
@media (max-width: 720px) and (max-height: 1600px) {
    .element-class {
        width: 100%; 
        height: auto; 
        animation: none;
        background-image: url('../images/purple-planet-dark-background-saturn-astronomy.jpg'); /* default */
    }
}


