{% extends "page.html" %}

{% block header %}
{% endblock %}

{% block title %}
		{{config.title}} - Note Tags
{% endblock %}

{% block content %}
<p style="text-align:center; font-size: 23px;"><b>NOTE TAGS</b></p>

<small style="float:right; font-size: 18px;"><a href="/writing"> {% raw %} << back {% endraw %} </a></small>

<br>
<br>
    {% if terms %}
        <ul>
            {% for term in terms %}
                <li class="tagsC-layout" >
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>({{ term.pages | length }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
