{% extends "page.html" %}
{% import "macros/notec_macros.html" as notec %}

{% block header %}

{% endblock header %}


{% block title %}
		{{config.title}} - {{term.name}}
{% endblock %}

{% block content %}

<h1 style="text-align:center; color:#cccccc; padding:0; font-size: 150%">
			<b>Note tag: {{ term.name }} </b>
</h1>

{% include "include/back.html" %}

<br>
<div>
    {% for page in term.pages %}

        {{ notec::page_in_list(page=page) }}

    {% endfor %}
</div>
{% endblock content %}
