{% extends "base.html" %}

{% block title %}
 {{config.title}} - 404 Not Found
{% endblock %}

{% block content %}

<div class="row" style="text-align:center;">

  <div class="col-12 mt-5 pt-5">

    <p style="font-size: 90px;">404</p>

    <p><strong>Page not found Yet :(</strong></p>
    <p>The requested page could not be found.</p>
    <a href="/writing" style="background-color: #dddee1;
		     color: Black;
			 text-align: center;
		     padding: 10px 20px;
			 text-decoration: none;
			 display: inline-block;
			">
			Writings</a>
  </div>
</div>

{% endblock %}
