{% extends "writing.html" %}

{% block meta_content %}
<meta property="og:title" content="Daveads archive">
<meta property="og:type" content="{{page.title}}">
<meta property="og:url" content="https://daveads.github.io{{ page.path }}">
{% endblock meta_content %}

{% block keywords %}
<meta name="keywords" content="archive">
{% endblock keywords %}

{% block canonical %}
	<link rel="canonical" href="https://daveads.github.io{{ page.path }}">
{% endblock canonical %}


{% block title %}
		 {{config.title}} - {{page.title}}
{% endblock %}

{% block content %}
<h1 style="text-align: center;">{{ page.title | capitalize }}</h1>

 {% set section_item = get_section(path="writing/_index.md") %}


{% for year, posts in section_item.pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>

    <ul>
    {% for post in posts %}
        <li style="font-size: 25px;"><a href="{{ post.permalink }}">{{ post.title }}</a></li>
        

        <p class="post-meta">
        <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date }}</time>
            {% if post.updated %}
             (updated: {{ post.updated }})
            {% endif %}
        </p>

        
    {% endfor %}
    </ul>
{% endfor %}


{% endblock content %}
