<!DOCTYPE html>
<html lang="en">

<head>

	{% block meta_data %}
		{% include "include/meta-data.html" %}
	{% endblock %}

{% block meta_content %}
<meta property="og:title" content="Daveads">
<meta property="og:type" content="article">
<meta property="og:url" content="">
{% endblock meta_content %}

{% block keywords %}
<meta name="keywords" content="daveads">
{% endblock keywords %}


{% block desc %}
<meta name="description" content="{{config.extra.content}}">
{% endblock desc %}

<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

<link rel="alternate" type="application/rss+xml" title="daveads" href="https://daveads.github.io/atom.xml">

{% block canonical %}
	<link rel="canonical" href="https://daveads.github.io">
{% endblock canonical %}

<!-- Sass-file: minima.css -->
<link rel="stylesheet" href="/minima.css">

<!-- css files -->
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/tagc.css">
<link rel="stylesheet" href="/assets/css/pagenav.css">



<!-- google_analytics -->
{% if config.extra.google_analytics %}
		{% include "include/gtag.html" %}

		<!-- Google discover -->
		<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/blogspot/amDG" />
		<!-- ends -->
{% endif %}

<script type="text/javascript" src="/assets/js/blink.js" defer></script>
<script type="text/javascript" src="/assets/js/scroll-top-button.js" defer></script>


<!-- PWA -->
<script>
  if ("serviceWorker" in navigator) {
if (navigator.serviceWorker.controller) {
   console.log("An active service worker found, no need to register");
   } else {
     // Register the service worker
     navigator.serviceWorker
       .register("/serviceworker.js", {
         scope: "./"
       })
       .then(function (reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
       });
    }
}
</script>

<!-- programmable search engine -->
<script async src="https://cse.google.com/cse.js?cx=acd2a3a68756706a3"></script>

{% block react %}
<! REACT SHITS -->
<!-- end react -->
{% endblock react %}

<link rel="manifest" type="application/manifest+json" href="{{ get_url(path="/manifest.json") }}">

<title>
		{% block title %}
				{{config.title}}
		{% endblock title %}
</title>


</head>
 <body>
		{% block header %}
		{% include "include/header.html" %}
		{% endblock %}

		<button class="scrollToTopBtn" title="Go to top">
		<img src="/assets/images/186407_arrow_up_icon.png
		" height ="20" width="20" />
		</button>

		<main class="page-content" aria-label="Content">

				 <section class="section">
						<div class="wrapper">
								{% block content %} {% endblock %}
						</div>
				 </section>

		</main>
		<footer></footer>
 </body>

</html>

