<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#04070f">
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

<!-- Sass-file: minima.css -->
<link rel="stylesheet" href="/minima.css">

<!-- css files -->
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/tagc.css">
<link rel="stylesheet" href="/assets/css/pagenav.css">


<!-- Google discover -->
<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/blogspot/amDG" />
<!-- ends -->

<!-- google_analytics -->
{% if config.extra.google_analytics %}
		{% include "include/gtag.html" %}
{% endif %}


<!-- PWA -->
<script>
  if ("serviceWorker" in navigator) {
if (navigator.serviceWorker.controller) {
   console.log("An active service worker found, no need to register");
   } else {
     // Register the service worker
     navigator.serviceWorker
       .register("/serviceworker.js", {
         scope: "./"
       })
       .then(function (reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
       });
    }
}
</script>

<!-- <link rel="manifest" type="application/manifest+json"   href="/manifest.json"> -->


{% block react %}
<! REACT SHITS -->
<!-- end react -->
{% endblock react %}

<link rel="manifest" type="application/manifest+json" href="{{ get_url(path="/manifest.json") }}">

<title>
		{% block title %}
				{{config.title}}
		{% endblock title %}
</title>


</head>
 <body>
		{% block header %}
		{% include "include/header.html" %}
		{% endblock %}

		<main class="page-content" aria-label="Content">

				 <section class="section">
						<div class="wrapper">
								{% block content %} {% endblock %}
						</div>
				 </section>

		</main>

 </body>
</html>

