<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#04070f">
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

<!-- css files -->
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/tagc.css">
<link rel="stylesheet" href="/assets/css/footer.css">
<link rel="stylesheet" href="/assets/css/pagenav.css">


<!-- search index -->
{% if config.build_search_index %}
		<script defer src="{{get_url(path="elasticlunr.min.js")}}"></script>
		<script defer src="{{get_url(path="search_index.en.js")}}"></script>

		<!-- <script src="{{get_url(path="js/search.js")}}"></script> -->
		<script src="{{ get_url(path="/search.js", trailing_slash=false) | safe }}"></script>

{% endif %}


<!-- Google discover -->
<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/blogspot/amDG" />
<!-- ends -->


<!-- PWA -->
<script>
  if ("serviceWorker" in navigator) {
if (navigator.serviceWorker.controller) {
   console.log("An active service worker found, no need to register");
   } else {
     // Register the service worker
     navigator.serviceWorker
       .register("/serviceworker.js", {
         scope: "./"
       })
       .then(function (reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
       });
    }
}
</script>

<!-- <link rel="manifest" type="application/manifest+json"   href="/manifest.json"> -->

<link rel="manifest" type="application/manifest+json" href="{{ get_url(path="/manifest.json") }}">

<title>
		{% block title %}
				{{config.title}}
		{% endblock %}
</title>

</head>



		<body>
				{% include "include/me.html" %}
				<section class="section">
						<div class="container">

								{% block content %} {% endblock %}

						</div>
				</section>

		</body>

</html>

