{% extends "base.html" %}

{% block title %}
     {{config.title}} - {{page.title}}
{% endblock %}

<article class="post">

    <!-- content block -->
    {% block content %}

    <header class="post-header">
        <h1 class="post-title" style="text-align:center; color:#cccccc; padding:0; font-size: 150%">{{ page.title }}</h1>
    </header>

    <p class="tag">{{ page.date }}</p>
    {{ page.content | safe }}

    <div>

        <ul> <!-- Changed <div> to <ul> and added closing </ul> -->

            <li> <a href="mailto:the.daveads@gmail.com">Email ::{ {{ config.extra.social.mail }} }</a></li>

            <li> <a href="https://twitter.com/The_Daveads" class="blinking-link">Twitter > X ::{ {{ config.extra.social.twitter }} }</a></li>

            <li> <a href="https://codeberg.org/daveads">Codeberg ::{ {{ config.extra.social.codeberg }} }</a></li>

            <li> <a href="https://github.com/Daveads"> Github ::{ {{ config.extra.social.github }} }</a></li>

            <li> <a href="https://www.instagram.com/_daveads/"> Instagram ::{ {{ config.extra.social.instagram }} }</a></li>

            <li> <a href="https://www.reddit.com/user/Daveads/">Reddit ::{ {{ config.extra.social.reddit }} }</a></li>

            <li> <a rel="me" href="https://fosstodon.org/@daveads">Mastodon ::{ {{ config.extra.social.mastodon }} }</a></li>

            <li><a href="https://soundcloud.com/daveads">Soundcloud ::{ {{ config.extra.social.soundcloud }} }</a></li>
            
            <li>Youtube :: </li>
    
            <li>Kaggle :: </li>
            
        </ul> <!-- Added closing </ul> -->

    </div>
    <!-- <h1>Resume</h1> -->
    {% endblock %}

</article>

