{% extends "base.html" %}

{% block title %}
     {{config.title}} - {{page.title}}
{% endblock %}

<article class="post">

    <!-- content block -->
    {% block content %}

    <header class="post-header">
    <h1 class="post-title" style="text-align:center; color:#cccccc; padding:0; font-size: 150%">{{ page.title }}</h1>
	</header>

    <p class="tag">{{ page.date }}</p>
    {{ page.content | safe }}

	<div>

		<h2> Online presence </h2>

	<div>

		<li>Email >> <a href="mailto:the.daveads@gmail.com">{{ config.extra.social.mail }}</a></li>

		<li>Twitter >> <a href="https://twitter.com/The_Daveads">{{ config.extra.social.twitter }}</a></li>
		
		<li>codeberg >> <a href="https://codeberg.org/daveads">{{ config.extra.social.codeberg }}</a>

		<li>Github >> <a href="https://github.com/Daveads">{{ config.extra.social.github }}</a></li>

		<li>Instagram >> <a href="https://www.instagram.com/_daveads/">{{ config.extra.social.instagram }}</a> </li>

		<li>Reddit >>  <a href="https://www.reddit.com/user/Daveads/">{{ config.extra.social.reddit }}</a> </li>

		<li>mastodon >> <a rel="me" href="https://fosstodon.org/@daveads">{{ config.extra.social.mastodon }}</a>

		<li>Youtube >> </li>

		<li>soundcloud >> </li>

		

</div>
		<!-- <h1>Resume</h1> -->
</div>

	{% endblock %}

</article>

