{% extends "base-index.html" %}


{% block title %}
		{{ super() }} - {{config.extra.author}}
{% endblock %}

<script type="text/javascript" src="/assets/js/bundle.js"></script>


{% block content %}
<div style="text-align: center; font-family: Courier New; color: #02afff; font-size: 25px; ">

		<p><b style="font-size: 40px; font-family: monospace;">Hello Humans!</b> 
		Welcome to <a href="/about" style="color:#006bf8">My</a> 
		<a href="https://en.wikipedia.org/wiki/Galaxy" style="color:#006bf8">Galaxy</a>
		feel at <a href="/" style="color:#006bf8">127.0.0.1</a></p>

</div>

		<!--
		<div class="gcse-searchbox-only" style="padding: 34px;">
		</div>
		-->

		<div class="card_api" id=container>
			<h3 id="resp" style="color: greenyellow; font-size: 22px; margin: 20px;"></h3>
			<p style="font-style: italic; font-size: 12px;">output by gemni</p>
		</div>
		
		
		<br>

		{% set writing = get_section(path="writing/_index.md") %}
		{% if section.content or writing.pages %}
		<main>
		{% if section.content %}
		<div {% if writing.pages %}class="space"{% endif %}>
		 {{ section.content | safe }}
		</div>
		{% endif %}

		{% if writing.pages %}
		<h2 style="margin: 0;">Recent articles</h2>
		<ul>
				 {% for post in writing.pages | slice(end=5) %}
				 <li style="font-size: 21px;"><a href="{{ post.permalink }}">{{ post.title }}</a></li>
				 {% endfor %}
		 </ul>
		 {% endif %}
		 </main>
		{% endif %}
		<br>

{% endblock content %}

