{% extends "base.html" %}


{% block title %}
		{{ super() }} - {{config.extra.author}}
{% endblock %}


{% block content %}
<div style="text-align: center; font-family: Courier New; color: cyan; font-size: 25px;">

		<p><b style="font-size: 40px; font-family: monospace;">Hello Humans!</b> 
		Welcome to <a href="/about">My</a> 
		<a href="https://en.wikipedia.org/wiki/Galaxy">Galaxy</a>
		feel at <a href="/">127.0.0.1</a></p>

</div>

		<div class="gcse-searchbox-only" style="padding: 34px;">
		</div>
		<br>

{% set writing = get_section(path="writing/_index.md") %}
		{% if section.content or writing.pages %}
		<main>
		{% if section.content %}
		<div {% if writing.pages %}class="space"{% endif %}>
		 {{ section.content | safe }}
		</div>
		{% endif %}

		{% if writing.pages %}
		<h2>Recent articles</h2>
		<ul>
				 {% for post in writing.pages | slice(end=5) %}
				 <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
				 {% endfor %}
		 </ul>
		 {% endif %}
		 </main>
		{% endif %}
		<br>
		
		<!-- IDENTITES -->
		<div id="identity">
		<h2>Identites</h2>
		<ul>
			<li>Independent Researcher</li>
			<li>Software Engineer</li>
			<li>Pianist  <del> jazz fan</del> </li>
			<li>Chess player</li>
			<li>Curiosity Voyager</li>
			
		 </ul>	
		</div>
		
{% endblock content %}

