{% extends "base.html" %}

{% block meta_content %}
<meta property="og:title" content="daveads note">
<meta property="og:type" content="note">
<meta property="og:url" content="https://daveads.github.io/note">
{% endblock meta_content %}

{% block keywords %}
<meta name="keywords" content="notes">
{% endblock keywords %}


{% block canonical %}
	<link rel="canonical" href="https://daveads.github.io/note">
{% endblock canonical %}



{% block header %}
{% endblock %}

{% block title %}
		{{config.title}} - {{section.title}}
{% endblock %}


{% block content %}

<p style="text-align:center; color:#cccccc; padding:0; font-size: 150%" >

<b> {{ section.title }} </b></p>

<div>
   <ul style="text-align:center;">
		<b style="font-size: 22px;"></b> <a href="/notec"><b>CATEGORIES</b></a> 
		<b style="">||</b>
		<a href="/notet"><b>TAGS</b></a>
   </ul>
 </div>

{% include "include/back.html" %}
<br>



<p> I needed a reliable way to organize and access my various readings, notes, thoughts e.t.c and view them when needed.</p><span id="dots"></span><div id="more">
<p>While I do take physical notes, they often end up scattered and hard to manage. This page serves as a repository for my unfinished notes, covering books, videos, and articles I've read or plan to read soon.</p>


<p><strong>NOTICE:</strong></p>
<ul>
  <li>Books are rarely completed in one go</li>
  <li>I won't be documenting every single thing I read daily, so expect around 50-70% coverage.</li>
  <li>The organization might be a bit haphazard for now, but I'll improve it over time.</li>
  <li>Loading....</li>
</ul>
</div>

<button onclick="myFunction()" id="myBtn">Read more</button>



<script>
  function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
} 
</script>

<div id="post">
  <ul class="post-list">


  {% set writing = get_section(path="note/_index.md") %}

	{{ writing.content | safe}}



    {% for page in section.pages %}

		<li class="post-link"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>

   {% endfor %}

  </ul>
</div>


{% include "include/home.html" %}
{% endblock content %}
