{% extends "base.html" %}
{% import "macros/pagetitle-macro.html" as pageT %}

<!-- keep empty -->
{% block header %}
{% endblock %}

{% block title %}
		{{config.title}} - {{page.title}}
{% endblock %}


{% block content %}

<article class="post h-entry" itemscope="articleBody" itemtype="http://schema.org/BlogPosting">
<header class="post-header">

		 {% set title = page.title %}
		 {% set title1 = "NOTE" ~ " : " ~ title %}
		 {{ pageT::pagetitle(page=title1) }}


<p class="post-meta">

    {% if page.date %}
		<time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date }}</time>
		{% if page.updated %}
		 (updated: {{ page.updated }} )
		{% endif %}
    {% endif %}


		
		<small style="float:right; font-size: 15px;"><a href="/notec">See all notes</a></small>
		{% include "include/back.html" %}
</p>

</header>
		<br>	
		<div>
		{% if page.taxonomies.notec %}
		<ul>
		Categories :
		{% for noteC in page.taxonomies.notec %}
		<small>
		<a href="{{ get_taxonomy_url(kind='notec', name=noteC) | safe }}">#{{ noteC }}</a>
		</small>
		{% endfor %}
		{% endif %}
		</ul>

		
		{% if page.taxonomies.notet %}
		<ul>
		Tags :
		{% for noteT in page.taxonomies.notet %}
		<small>
		<a href="{{ get_taxonomy_url(kind='notet', name=noteT) | safe }}">#{{ noteT }}</a>
		</small>
		{% endfor %}
		{% endif %}
		</ul>
		</div>
		
		<br>
		<div class="post-content e-content" itemprop="articleBody">
		{{ page.content | safe }}
		</div>

{% endblock content %}
