{% extends "base.html" %}


{% block meta_content %}
<meta property="og:title" content="daveads project">
<meta property="og:type" content="projects">
<meta property="og:url" content="https://daveads.github.io/project">
{% endblock meta_content %}

{% block keywords %}
<meta name="keywords" content="projects">
{% endblock keywords %}


{% block canonical %}
	<link rel="canonical" href="https://daveads.github.io/project">
{% endblock canonical %}


{% block title %}
		{{config.title}} - {{section.title}}
{% endblock %}


{% block content %}


<p style="text-align:center; color:#cccccc; padding:0; font-size: 150%" >

<b> {{ section.title }} </b></p>

				{{ section.content }}
<div id="posts">
  <ul class="post-list">

    {% for page in section.pages %}

		<li class="post-link"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>

   {% endfor %}

  </ul>
</div>

{% endblock content %}
