{% extends "base.html" %}

<!-- keep empty -->
{% block header %}
{% endblock %}

{% block title %}
		{{config.title}} - {{page.title}}
{% endblock %}


{% block content %}

<article class="post h-entry" itemscope="articleBody" itemtype="http://schema.org/BlogPosting">
<header class="post-header">

		<h1 style="text-align:center;" itemprop="name headline"><b>
				<a href="/project" style="color: grey; font-size: 29px;">Project</a> ::</b> {{ page.title }}
		</h1>
				
		<p class="post-meta">

    {% if page.date %}
		<time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date }}</time>
		{% if page.updated %}
		 (updated: {{ page.updated }} )
		{% endif %}
    {% endif %}

		<small style="float:right; font-size: 19px;"><a href="/project">project</a></small>
		</p>

</header>


		{% if page.taxonomies.tags %}
		<p>
		Tags :
		{% for tags in page.taxonomies.tags %}
		<small>
		<a href="{{ get_taxonomy_url(kind='tags', name=tags) | safe }}">#{{ tags }}</a>
		</small>
		{% endfor %}
		{% endif %}
		</p>
		<br>

		<div class="post-content e-content" itemprop="articleBody">
		{{ page.content | safe }}
		</div>

{% endblock content %}
