{% extends "base.html" %}
{% import "macros/pagetitle-macro.html" as pageT %}

{% block title %}
		{{config.title}} - {{page.title}}
{% endblock %}



<!-- keep empty -->
{% block header %}
{% endblock %}



{% block content %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<header class="post-header">


		{% set title = page.title %}
		{{ pageT::pagetitle(page=title) }}


		<small style="float:right; color: #888; font-size: 15px;"><a href="/writing">See all writings</a>
			|| <a href="/archive">Archive</a>
		</small>
			
		<p class="post-meta">

		<time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date }}</time>
		{% if page.updated %}
		 (updated: {{ page.updated }})
		{% endif %}
		</p>
		
	<nav>
		
		{% include "include/back.html" %}
		
		{% if page.taxonomies.tags %}
		<p>
		Tags :
		{% for tags in page.taxonomies.tags %}
		<small>
		<a href="{{ get_taxonomy_url(kind='tags', name=tags) | safe }}">#{{ tags }}</a>
		</small>
		{% endfor %}
		{% endif %}
		</p>

	</nav>
		
		
</header>

		<br>
		<div class="post-content e-content" itemprop="articleBody">
		{{ page.content | safe }}
		</div>
		
		
		{% include "include/home.html" %}
{% endblock content %}