{% extends "page.html" %}

{% block header %}
{% endblock %}

{% block title %}
		{{config.title}} - Note Categories
{% endblock %}

{% block content %}
<p style="text-align:center; font-size: 23px;"><b>NOTE CATEGORIES</b></p>

{% include "include/back.html" %}


<br>
<div>
    <p style="text-align:center">Note : <a href="/notet">Tags</a></p>
    {% if terms %}
        <ul>
            {% for term in terms %}
                <li class="tagsC-layout" >
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>({{ term.pages | length }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock content %}
